.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .aler {
    padding: 12px 0;
    border-radius: 58px;
    p {
      font-size: 20px;
      font-weight: 700;
      color: cadetblue;
    }
  }
  .content {
    .btn {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
